* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.centrar {
    display: flex;
    justify-content: content;
    align-items: center;
    flex-direction: column;
}

.NavBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavBar-div {
    margin: 2rem 5rem;
}

.logo {
    height: 15rem;
}


.navegacion {
    background: rgba(255, 255, 255, 0);
}

.navegacion ul {
    list-style: none;
}

.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li > a {
    display: block;
    text-decoration: none;
    padding: 0.3rem 0.7rem;
    color: #fff;
    background-color: black;
    border-color: black;
    margin-right: 3rem;
}

.menu > li > a:hover {
    color: grey;
    transition: all 0.3s;
    color: #fff;
    background-color: grey;
}



.submenu {
    position: absolute;
    background-color: grey;
    text-align: left;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 70%;
    margin-top: 0.2rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.submenu > li > a {
    display: block;
    padding: 0.8rem;
    color: rgb(255, 255, 255);
    padding: 0.3rem 0.7rem;
    text-decoration: none;
    text-align: center;
}

.submenu > li > a:hover {
    background-color: rgb(180, 180, 180);
}

li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.titulo {
    position: absolute;
    top: 30%;
    left: 20%;
}

.titulo small {
    color: black;
    font-size: 3rem;
    font-family: cursive;
}

h1 {
    font-size: 6rem;
    line-height: 5rem;
    font-family: sans-serif;
    
}

.NavBar .cartLogo {
    background-color: #fff;
    text-decoration: none;
    margin-right: 3rem;
    padding: 0.3rem 0.7rem;
    border: none;
}

.NavBar .cartLogo:hover {
    background-color: transparent;
}

.menu > li > .cartLogo {
    background-color: transparent;
    padding-top: 0.5rem;
}

.menu > li > .cartLogo:hover {
    background-color: transparent;
}

.cartLogo img {
    width: 3rem;
}

.contain-cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.contain-image-card {
    width: 100%;
}

.contain-image-card img {
    width: 7rem;
}

.cards {
    border: 1px solid black;
    width: 30%;
    margin: 3rem 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button-card {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.contain-cartDetail {
    border: 1px solid black;
    margin: 2rem 10rem;
    padding: 2rem 0;
    text-align: center;
}

.cart{
    margin: 5rem;
}